.cabeçalho{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 10px;
    padding-right: 20cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: darkgrey;
}
.assine{
    background-color: red;
    color: white;
    padding: 5px;
}
.cabeçalho2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkgray;
}
.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
h1{
    text-align: center;
    color: red;
    font-size: 30pt;
}
.quadro{
    background-color: rgb(65, 65, 65);
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
h2{
    text-align: left;
    padding: 15px;
    padding-left: 50px;
}
.fotos{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
