<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <h1>Cadastro Usuario</h1>

    <form action="/cadastro" method="POST">

        <input name="nome" placeholder="Nome">

        <br><br>

        <input name="login" placeholder="Login">

        <br><br>

        <input name="senha" placeholder="Senha">

        <br><br>

        <button>

            Cadastrar

        </button>

    </form>
</body>

</html>