<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <h1>Novo Carro</h1>

    <form action="/novoCarro" method="POST">

        <input name="marca" placeholder="Marca">

        <br><br>

        <input name="modelo" placeholder="Modelo">

        <br><br>

        <input name="ano" placeholder="Ano">

        <br><br>

        <input name="qtde" placeholder="Quantidade">

        <br><br>

        <button>

            Salvar

        </button>

    </form>
</body>

</html>