<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <h1>Projetos</h1>

    <table>

        <tr>

            <th>Projeto</th>

            <th>Link</th>

        </tr>

        <tr>

            <td>Carros</td>

            <td>

                <a href="/carros">

                    Abrir

                </a>

            </td>

        </tr>

    </table>
</body>

</html>