body{

background-color:#d9d9d9;

display:flex;

flex-direction:column;

align-items:center;

font-family:Arial;

}

form{

display:flex;

flex-direction:column;

width:300px;

}

.card{

width:400px;

background:white;

padding:15px;

border-radius:10px;

margin:10px;

}