body{

background-color:#acdfaf;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

min-height:100vh;

font-family:Arial;

}

h1{

text-align:center;

}

form{

display:flex;

flex-direction:column;

width:300px;

gap:10px;

}

table{

width:80%;

border-collapse:collapse;

background:white;

margin-top: 10px;

}

td,th{

border:1px solid black;

padding:10px;

text-align:center;

}

a{

text-decoration:none;
padding:15px;

}

button{

padding:10px;

cursor:pointer;

}