<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <h1>Criar Post</h1>

    <form action="/cadastrar_post" method="POST">

        <label>Título</label>

        <input type="text" name="titulo" required>

        <br><br>

        <label>Resumo</label>

        <input type="text" name="resumo" required>

        <br><br>

        <label>Conteúdo</label>

        <textarea name="conteudo" required>
</textarea>

        <br><br>

        <button type="submit">

            Enviar

        </button>

    </form>

</body>

</html>