<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <h1>Projetos</h1>

    <table border="1">

        <tr>
            <td>Blog</td>

            <td>

                <a href="/blog">
                    Abrir
                </a>

            </td>

        </tr>

    </table>

</body>

</html>