<!DOCTYPE html>
<html>

<head>

    <title>Status</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="container">

        <h1>
            <%= status %>
        </h1>

        <a href="/login">
            Voltar
        </a>

    </div>

</body>

</html>