<!DOCTYPE html>
<html>
<head>
    <title>Resposta</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Status</h1>

        <h2>
            <%= mensagem %>
        </h2>

        <a href="/login">Voltar</a>

    </div>

</body>
</html>